* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
}
body {
    font-family: "League Spartan", serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.container .bloc {
    display: flex;
    flex-direction: row;
    margin: 100px 100px 0 100px;
    justify-content: space-between;
}

.container .bloc header {
    margin-left: 50px;
    width: 400px;
    color: var(--VeryDarkMagenta);
}

.container .bloc header h1 {
    font-size: 50px;
    font-weight: 700;
}

.container .bloc header p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 18px;
    padding-right: 40px;
}

.container .bloc .ratings {
    width: 520px;
    color: var(--VeryDarkMagenta);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.container .bloc .ratings .rate {
    display: flex;
    width: 400px;
    padding: 16px;
    align-items: center;
    background-color: var(--LightGrayishMagenta);
    border-radius: 8px;
}

.container .bloc .ratings .rate img {
    margin-left: 8px;
}
.container .bloc .ratings .rate h2 {
    font-size: 15px;
    margin-left: 22px;
}
.container .bloc .ratings .rata {
    align-self: flex-start;
}

.container .bloc .ratings .ratb {
    align-self: center;
}

.container .bloc .ratings .ratc {
    align-self: flex-end;
}

.container .reviews {
    display: flex;
    flex-direction: row;
    margin: 100px 100px 0 150px;
    height: 260px;
    justify-content: space-between;
}

.container .reviews .avis {
    display: flex;
    flex-direction: column;
    background-color: var(--VeryDarkMagenta);
    color: var(--White);
    width: 360px;
    height: 220px;
    border-radius: 8px;
    padding-top: 40px;
    padding-left: 32px;
}

.container .reviews .avisa {
    align-self: flex-start;
}

.container .reviews .avisb {
    align-self: center;
}

.container .reviews .avisc {
    align-self: flex-end;
}

.container .reviews .avis .pic {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.container .reviews .avis .pic .name {
    padding-top: 6px;
}

.container .reviews .avis p {
    padding-top: 28px;
    padding-right: 40px;
    line-height: 22px;
}

.container .reviews .avis .pic img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.container .reviews .avis .pic .name span {
    color: var(--SoftPink);
}
/* mobile */

@media screen and(max-width: 375px) {
}
