* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
}

/* mobile */

@media screen and(max-width: 375px) {}